@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

:root {
    --main-color: #0D0D0D;
    --grey-color: #262626;
    --light-color: #F2F2F2;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    color: var(--light-color);
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*------header section------*/
.header {
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-size: 25px;
    position: relative;
}

.navbar {
    width: auto;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 40px;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
}

.hamburger span {
  background: var(--light-color);
  display: block;
  height: 3px;
  width: 100%;
  margin: 6px 0;
  border-radius: 2px;
  transition: 0.4s;
}

/*------homepage section------*/
.homepage {
    height: 93vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

#name h1 {
    font-size: 64px;
}

#course h3 {
    font-size: 24px;
    color: var(--light-color);
}

#course {
    width: 500px;
    margin-top: 10px;
}

.profile-info .btn {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.profile-info #hireMe {
    width: 170px;
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hireMe a {
    color: var(--main-color);
    font-size: 24px;
}

.profile-info #learnMore {
    width: 256px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--light-color);
    background: var(--main-color);
}

#learnMore a {
    font-size: 24px;
}

.profile {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.profile img{
   max-width: 100%;
   height: auto;
}

.icons {
    display: flex;
    align-self: flex-start;
    gap: 25px;
    margin: 20px 30px;
}

.icons img {
    width: 40px;
    height: 40px;
}

/* ------aboutpage section------ */
.aboutpage {
    min-height: 100%;
    background-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-margin-top: 70px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.about h1 {
    font-size: 40px;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 40px 0 40px;
}

.aboutme p {
    font-size: 29px; 
    max-width: 1050px;   
    text-align: justify;
}

.aboutme img {
    width: 190px;
    height: 190px;
    margin-right: 20px;
}

.cv{
    border: 1px solid var(--light-color);
    border-radius: 50px;
    padding:5px 10px;
    margin: 10px 0 30px 0;
    background-color: var(--main-color);
}

.cv a {
    font-size: 20px;
}

.line {
    border: 1px solid var(--light-color);
    width: 90%;
    margin: 30px;
}

.education #educ {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.educ-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

#elem {
    background-color: var(--light-color);
    max-width: fit-content;
    max-height: fit-content;
    padding: 18px 0 19px 23px;
    border-radius: 10px;
    margin: 10px;
}

#elem h1, h2, h3, h4 {
    color: var(--main-color);
}

#elem h1 {
    width: 300px;
    font-size: 28px;
    margin-top: 10px;
}

#elem h2 {
    font-size: 20px;
}

#elem h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

#elem h4 {
    font-size: 13px;
}

#hs {
    background-color: var(--light-color);
    max-width: fit-content;
    max-height: fit-content;
    padding: 18px 0 19px 23px;
    border-radius: 10px;
    margin: 10px;
}

#hs h1, h2, h3, h4 {
    color: var(--main-color);
}

#hs h1 {
    width: 300px;
    font-size: 28px;
    margin-top: 10px;
}

#hs h2 {
    font-size: 20px;
}

#hs h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

#hs h4 {
    font-size: 13px;
}

#college {
    background-color: var(--light-color);
    max-width: fit-content;
    max-height: fit-content;
    padding: 18px 0 19px 23px;
    border-radius: 10px;
    margin: 10px;
}

#college h1, h2, h3, h4 {
    color: var(--main-color);
}

#college h1 {
    width: 300px;
    font-size: 28px;
    margin-top: 15px;
}

#college h2 {
    font-size: 20px;
}

#college h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

#college h4 {
    font-size: 13px;
}

/*------skillpage section------*/
.skillpage {
    min-height: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.skills h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.skills1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills1 img{
    width: 220px;
    height: 207px;
}

.skills1 .html,.css, .java {
    display: flex;
    width: 283px;
    height: 238px;
    padding: 15px 32px 16px 31px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid var(--light-color);
    margin: 50px;
}

.skills2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skills2 img{
    width: 220px;
    height: 207px;
}

.skills2 .github, .python {
    display: flex;
    width: 283px;
    height: 238px;
    padding: 12px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid var(--light-color);
    margin: 50px;
}

.skills2 .c {
    display: flex;
    width: 283px;
    height: 238px;
    padding: 29px 50px 30px 49px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid var(--light-color);
    margin: 50px;
}

/* ------projectpage section------*/
.projectpage {
    min-height: 80%;
    background-color: var(--grey-color);
    display: flex;
    justify-content: center;
    scroll-margin-top: 70px;
}

.project h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.proj {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 30px 30px 30px;
}

.frstPrj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid var(--light-color);
    border-radius: 20px;
    max-width: fit-content;
    padding: 10px;
    background-color: var(--main-color);
}

.frstPrj img {
    width: 395px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.proj1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj1 .name1 {
    margin-top: 20px;
    width: 250px;
    display: flex;
    text-align: center;
}

.name1 h2 {
    color: var(--light-color);
}

.secPrj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid var(--light-color);
    border-radius: 20px;
    max-width: fit-content;
    padding: 10px;
    background-color: var(--main-color);
}

.secPrj img {
    width: 395px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.proj2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj2 .name2 {
    margin-top: 20px;
    width: 250px;
    display: flex;
    text-align: center;
}

.name2 h2 {
    color: var(--light-color);
}

/*------contact section------*/
.contact {
    height: auto;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.containName {
    max-width: fit-content;
    display: inline-flex;
    padding: 36px 13px 10px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.contact h1 {
    color: var(--main-color);
    font-size: 40px;
}

.contactIcons {
    width: 300px;
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.contactIcons img{
    width: 40px;
    height: 70px;
}

.contactNav {
    display: flex;
    flex-direction: column;
    padding: 36px 13px 10px 50px;
    margin: 10px 20px 20px 0;
}

.contactNav h2 {
    padding-bottom: 10px;
}

.contact .contactNav a {
    padding-bottom: 3px;
    font-size: 15px;
    color: var(--main-color);
}

.contact .line2 {
    height: 150px;
    width: 1px;
    background-color: var(--main-color);
    margin: 0 10px 0 10px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    padding: 36px 13px 10px 50px;
}

.contactInfo img {
    width: 25px;
    height: 25px;
}

.contactInfo .email img {
    width: 30px;
    height: 24px;
}

.contactInfo .place, .number, .email {
    display: flex;
    font-size: 13px;
    padding-bottom: 5px;
}

.contactInfo h2 {
    padding-bottom: 10px;
}

.contactInfo h3 {
    padding-left: 10px;
    padding-top: 3px;
}

.contactInfo .place {
    width: 400px;
}

#menu-toggle {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 1186px) {
    .contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }

  .containName,
  .contactIcons,
  .contactNav,
  .contactInfo {
    align-items: center;
    margin: 10px 0;
    padding: 0;
  }

  .contactIcons {
    justify-content: center;
    margin-left: 0; /* remove forced left margin */
    gap: 20px;
  }

  .contactInfo .place {
    width: auto; /* no fixed width */
    text-align: center;
    justify-content: center;
  }

  .contact .line2 {
    display: none;
  }
}

@media only screen and (max-width: 1148px) {
    .skills1 img {
        width: 200px;
        height: 187px;
    }
    
    .skills1 .html,.css, .java {
        width: auto;
        height: auto;
    }

    .skills2 img {
        width: 210px;
        height: 197px;
    }

    .skills2 .c img {
        width: 170px;
        height: 157px;
    }

    .skills2 .c {
        width: auto;
        height: auto;
    }

    .skills2 .github, .python {
        width: auto;
        height: auto;
    }

    .contactIcons {
        margin: 0;
        padding: 0;
        width: auto;
    }

}

/* tablet size */
@media only screen and (max-width: 780px) { 
  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 70px; 
    left: 0;
    padding: 20px;
  }

  #menu-toggle:checked + .hamburger + .navbar {
    display: flex;
  }

  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
  }

  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
  }

  .profile img {
    width: 80%;
    height: auto;
    justify-content: center;
  }

  .contact .line2 {
    display: none; 
  }

  .contactInfo .place {
    width: auto; 
  }
}

@media only screen and (max-width: 765px) {
    .skills h1 {
        font-size: 40px;
    }

    .skills1 img {
        width: 160px;
        height: 147px;
    }
    
    .skills1 .html,.css, .java {
        width: auto;
        height: auto;
    }

    .skills2 img {
        width: 170px;
        height: 157px;
    }

    .skills2 .github, .python {
        width: 233px;
        height: 188px;
    }

    .skills2 .c img {
        width: 143px;
        height: 130px;
    }

    .skills2 .c {
        width: auto;
        height: 188px;
    }  
}

@media only screen and (max-width: 603px) {
    .homepage {
        height: 93vh;
    }
    
    #name h1 {
        font-size: 60px;
    }

    #course h3 {
        font-size: 20px;
    }

     .skills1 img {
        width: 140px;
        height: 127px;
    }
    
    .skills2 img {
        width: 150px;
        height: 137px;
    }

    .skills2 .c img {
        width: 110px;
        height: 120px;
    }

    .skills2 .c {
       padding: 0 45px;
       height: 170px;
    }

    .skills2 .github,.skills2 .python {
        width: auto;
        height: auto;
    }

    .skills1, .skills2 {
        flex-direction: column; 
        align-items: center;   
        gap: 20px;   
        margin-bottom: 30px;           
    }

    .skills1 .html, .skills1 .css, .skills1 .java,
    .skills2 .github,.skills2 .python, .skills2 .c {
        margin: 0;    
    }
}

@media only screen and (max-width: 475px) {
    .homepage {
        height: 50%;
    }
    
    .profile-info{
        margin-left: 130px;
    }

    #name h1 {
        font-size: 40px;
    }

    #course h3 {
        font-size: 18px;
    }

    .profile-info #hireMe {
        width: 150px;
        height: 40px;
    }

    #hireMe a {
        font-size: 18px;
    }

    .profile-info #learnMore {
        width: 206px;
        height: 40px;
    }

    #learnMore a {
        font-size: 18px;
    }

    .profile-info .btn {
        gap: 10px;
    }

    .profile img {
        width: 60%;
        height: auto;
    }

    .icons {
        margin: 50px 0 20px 20px;
        gap: 15px;
    }

    .icons img {
        width: 30px;
        height: 30px;
    }

    .about h1 {
        font-size: 30px;
    }

    .aboutme p {
        font-size: 20px;
        margin: 10px 0 10px;
    }

    .cv a {
        font-size: 18px;
    }

    .about {
        margin-bottom: 0;
    }

    .education #educ {
        font-size: 30px;
    }

    #elem h1, #hs h1, #college h1 {
        font-size: 20px;
        width: 220px;
    }

    #elem h2, #hs h2, #college h2 {
        font-size: 18px;
    }

    #elem h3, #hs h3, #college h3 {
        font-size: 12px;
    }

    #elem h4, #hs h4, #college h4 {
        font-size: 13px;
        width: 220px;
    }

    .skills h1 {
        font-size: 30px;
    }

    .skills1 img {
        width: 140px;
        height: 127px;
    }
    
    .skills2 img {
        width: 150px;
        height: 137px;
    }

    .skills2 .c img {
        width: 110px;
        height: 120px;
    }

    .skills2 .c {
       padding: 0 45px;
       height: 170px;
    }

    .skills2 .github,.skills2 .python {
        width: auto;
        height: auto;
    }

    .skills1, .skills2 {
        flex-direction: column; 
        align-items: center;   
        gap: 20px;   
        margin-bottom: 30px;           
    }

    .skills1 .html, .skills1 .css, .skills1 .java,
    .skills2 .github,.skills2 .python, .skills2 .c {
        margin: 0;    
    }

    .project h1 {
        font-size: 30px;
    }

    .frstPrj img {
        width: 335px;
        height: 230px;
    }

    .secPrj img {
        width: 335px;
        height: 230px;
    }

    .contact h1 {
        font-size: 28px;
    }

    .contactIcons {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .contactNav h2,
    .contactInfo h2 {
        font-size: 20px;
    }

    .contactNav a,
    .contactInfo h3 {
        font-size: 14px;
    }
    
    .contactInfo img {
        width: 20px;
        height: 20px;
    }

    .contactInfo .email img {
        width: 24px;
        height: 20px;
    }

    .contactInfo .place,
    .contactInfo .number,
    .contactInfo .email {
        justify-content: center;
        font-size: 12px;
    }
}
